<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nr.mybatis.mapper.DeptMapper">

    <resultMap id="deptAndEmpMap" type="Dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <collection property="empList" ofType="Emp">
            <id column="emp_id" property="empId"></id>
            <result column="emp_name" property="empName"></result>
            <result column="age" property="age"></result>
            <result column="gender" property="gender"></result>
        </collection>
    </resultMap>

    <select id="getDepAndEmpById" resultMap="deptAndEmpMap">
        select * from t_dept dept
                left join t_emp emp on dept.dept_id = emp.dept_id  where dept.dept_id = #{deptId}
    </select>

    <select id="getDeptByStep" resultType="dept">
        select * from t_dept  where dept_id = #{deptId}
    </select>

    <resultMap id="deptAndEmpMapStep" type="Dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <collection property="empList" fetchType="lazy"
                    select="com.nr.mybatis.mapper.EmpMapper.getEmpByDeptId" column="dept_id"></collection>
    </resultMap>

    <select id="getDeptAndEmpByStep" resultMap="deptAndEmpMapStep">
        select * from t_dept  where dept_id = #{deptId}
    </select>




</mapper>